<html>
<head>
    <title>Address Book</title>
</head>
<body>
    <h1>You created a new contact!</h1>
    <p>{{ new_contact.getName }}</p>
    <ul>
        <li>{{ new_contact.getNumber }}</li>
        <li>{{ new_contact.getAddress }}</li>
    </ul>
    <p><a href='/'>View your list of contacts.</a></p>
</body>
</html>
